
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-sky-blue: #bcdff8;
    --dark-sky-blue: #92d1fc;
    --sky-blue: #74c0fc;
    --light-navy-blue: #007bff;
    --navy-blue: #0056b3;
    --dark-navy-blue: #003865;
    --main-white: #f8fafc;
    --secondary-white: #e9ecef;
    --light-grey: #adb5bd;
    --main-black: #212529;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Kanit";
}

header {
    display: flex;
    background-color: var(--navy-blue);
    justify-content: space-between;
}

.logo-group {
    display: inline-block;
    align-content: center;
    height: 10vh;
    line-height: 10vh;
}

.logo-group .logo-link {
    text-decoration: none;
}

.logo-group img {
    width: 2.5rem;
    margin-top: -0.5rem;
    margin-left: 1rem;
}

.logo-group span {
    color: var(--main-white);
    font-size: 1.5rem;
}

.search-group {
    display: inline-block;
    align-content: center;
}

.search-group input {
    width: 20rem;
    height: 2rem;
    border: 0 solid var(--light-grey);
    border-radius: 3rem;
    padding: 1rem;
}

.link-groups {
    display: inline-block;
    align-content: center;
    line-height: 10vh;
}

.navbar-groups {
    margin-right: 1rem;
}

.navbar-groups .navbar-item {
    color: var(--main-white);
    text-decoration: none;
    margin: 0 0.5rem;
}

.navbar-groups .navbar-item:hover {
    color: var(--light-grey);
}

.carousel-indicators {
    margin-bottom: 0;
}

.carousel-item {
    height: 50vh;
    padding: 1rem;
}

.carousel-item img {
    max-height: 50vh;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-item .carousel-caption {
    margin-bottom: -1rem;
}

.carousel-control-prev {
    margin-left: -3rem;
}

.carousel-control-next {
    margin-right: -3rem;
}

.event-groups {
    display: flex;
    background-color: var(--secondary-white);
    height: 10vh;
    margin-top: 1rem;
    justify-content: space-between;
}

.filter-groups {
    display: inline-block;
    align-content: center;
}

.filter-groups .filter-link {
    text-decoration: none;
    margin: 0 1.5rem;
    color: var(--light-navy-blue);
}

.filter-groups .filter-link:hover {
    color: var(--dark-navy-blue);
    border-bottom: 2px solid var(--dark-navy-blue);
}

.order-groups {
    display: inline-block;
    align-content: center;
    margin-right: 1.5rem;
}

.order-groups select {
    background-color: var(--secondary-white);
    color: var(--light-navy-blue);
    border: 0;
    text-align: center;
}

.order-groups select:hover {
    cursor: pointer;
}