
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-sky-blue: #bcdff8;
    --dark-sky-blue: #92d1fc;
    --sky-blue: #74c0fc;
    --light-navy-blue: #007bff;
    --navy-blue: #0056b3;
    --dark-navy-blue: #003865;
    --main-white: #f8fafc;
    --secondary-white: #e9ecef;
    --light-grey: #adb5bd;
    --main-black: #212529;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Kanit";
}

header {
    display: flex;
    background-color: var(--navy-blue);
    justify-content: space-between;
}

.logo-group {
    display: inline-block;
    align-content: center;
    height: 10vh;
    line-height: 10vh;
}

.logo-group .logo-link {
    text-decoration: none;
}

.logo-group img {
    width: 2.5rem;
    margin-top: -0.5rem;
    margin-left: 1rem;
}

.logo-group span {
    color: var(--main-white);
    font-size: 1.5rem;
}

.search-group {
    display: inline-block;
    align-content: center;
}

.search-group input {
    width: 20rem;
    height: 2rem;
    border: 0 solid var(--light-grey);
    border-radius: 3rem;
    padding: 1rem;
}

.link-groups {
    display: inline-block;
    align-content: center;
    line-height: 10vh;
}

.navbar-groups {
    margin-right: 1rem;
}

.navbar-groups .navbar-item {
    color: var(--main-white);
    text-decoration: none;
    margin: 0 0.5rem;
}

.navbar-groups .navbar-item:hover {
    color: var(--light-grey);
}

.carousel-indicators {
    margin-bottom: 0;
}

.carousel-item {
    height: 50vh;
    padding: 1rem;
}

.carousel-item img {
    max-height: 50vh;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-item .carousel-caption {
    margin-bottom: -1rem;
}

.carousel-control-prev-icon {
    margin-left: -5rem;
}

.carousel-control-next-icon {
    margin-right: -5rem;
}

.details-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.banner-event img {
    max-height: 50vh;
    object-fit: cover;
    margin: 1rem auto;
    width: 95vw;
    border-radius: 15px;
}

.info-event {
    width: 60vw;
}

.buy-ticket {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--light-grey);
    border-radius: 25px;
}

.btn-style {
    background-color: var(--light-navy-blue);
    color: var(--main-white);
    width: 40%;
    padding: 0.5rem;
    border-radius: 25px;
    border: 0;
    text-align: center;
    text-decoration: none;
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
    margin: 1.5rem auto;
}

.data-groups {
    display: grid;
}

.phone-groups {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.contact-groups {
    display: grid;
    align-items: start;
}

.contact-groups input {
    height: 2rem;
    padding: 0.5rem;
}

.contact-groups textarea {
    height: 7rem;
    padding: 0.5rem;
}

.filter-groups {
    display: flex;
    background-color: var(--secondary-white);
    height: 10vh;
    margin-top: 1rem;
    justify-content: space-between;
}

.categorie-groups {
    display: flex;
    align-content: center;
    margin-left: 0.5rem;
}

.categorie-groups .categorie-link {
    text-decoration: none;
    margin: 0.7rem 1.5rem;
    color: var(--light-navy-blue);
}

.categorie-groups .categorie-link:hover {
    color: var(--dark-navy-blue);
    border-bottom: 2px solid var(--dark-navy-blue);
}

.categorie-groups .categorie-link .fa-solid {
    display: flex;
    justify-content: space-around;
}

.order-groups {
    display: inline-block;
    align-content: center;
    margin-right: 1.5rem;
}

.order-groups select {
    background-color: var(--secondary-white);
    color: var(--light-navy-blue);
    border: 0;
    text-align: center;
}

.order-groups select:hover {
    cursor: pointer;
}

.card:hover {
    box-shadow: var(--light-grey) 0.2rem 0.2rem;
    cursor: pointer;
}

.card img {
    object-fit: cover;
}

footer {
    display: flex;
    background-color: var(--main-black);
    justify-content: space-between;
}

.conjunt-info {
    display: inline-block;
    margin: 0.5rem 3rem;
}

.conjunt-info .info-item {
    display: block;
    text-decoration: none;
    color: var(--secondary-white);
    margin: 1rem;
}

.conjunt-info .info-item:hover {
    color: var(--light-grey);
}

.social-groups {
    align-content: center;
    margin: 2rem;
}

.social-groups .social-link {
    text-decoration: none;
    color: var(--main-white);
    margin: 0 1rem;
}

.social-groups .social-link:hover {
    color: var(--light-grey);
}


@media (min-width: 300px) and (max-width: 480px){
	header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .link-groups .navbar-groups {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 1rem;
        line-height: 3.5rem;
    }

    .link-groups .navbar-groups .navbar-item {
        margin: 0 1rem;
    }
    
    .carousel-item {
        height: 30vh;
        padding: 1rem;
    }
    
    .carousel-item img {
        max-height: 30vh;
        object-fit: cover;
        filter: brightness(50%);
    }
    
    .carousel-item .carousel-caption {
        display: none;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .filter-groups {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 15vh;
    }

    .filter-groups .categorie-groups {
        margin-top: 0.5rem;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .info-groups {
        display: inline-flex;
    }
}

@media (min-width: 481px) and (max-width:767px) {
	header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-group {
        margin: 0 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
	header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .search-group {
        display: flex;
        flex-wrap: wrap;
    }

    .carousel-item {
        height: 30vh;
        padding: 1rem;
    }
    
    .carousel-item img {
        max-height: 30vh;
        object-fit: cover;
        filter: brightness(50%);
    }

    .carousel-control-prev-icon {
        margin-left: -1rem;
    }

    .carousel-control-next-icon {
        margin-right: -1rem;
    }

    .filter-groups {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
    }

    .card {
        height: 15vh;
    }

    .card-body {
        height: 15vh;
        font-size: 0.6rem;
    }

    .card-body .btn {
        display: none;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
    }

    .conjunt-info {
        margin: 1rem 2rem;
    }
    
    .conjunt-info .info-item {
        margin: 1rem;
    }

    .social-groups {
        margin: auto 1rem;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
	.search-group {
        display: flex;
        flex-wrap: wrap;
    }

    .filter-groups {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .social-groups {
        margin: auto 2rem;
    }
}
