:root {
    --light-sky-blue: #bcdff8;
    --dark-sky-blue: #92d1fc;
    --sky-blue: #74c0fc;
    --light-navy-blue: #007bff;
    --navy-blue: #0056b3;
    --dark-navy-blue: #003865;
    --main-white: #f8fafc;
    --secondary-white: #e9ecef;
    --light-grey: #adb5bd;
    --main-black: #212529;
}