* {
    background-color: rgba(255, 255, 255, 0.317);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;

}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-color: #ffffff;
}

.contenedor form {
    padding: 20px;
    width: 700px;
    font-size: 19px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 10px 60px 70px black;
}

.contenedor form .row {
    display: flex;
    flex: wrap;
    gap: 15px;
}

.contenedor form .row .col {
    flex: 1 1 250px;
}

.contenedor form .row .col .titulo {
    font-size: 20px;
    color: rgb(33, 37, 41, );
    padding-bottom: 15px;
    text-transform: uppercase;
}

.contenedor form .row .col .inputbox {
    margin: 15px 0;

}

.contenedor form .row .col .inputbox span {
    margin-bottom: 5px;
    display: block;
}

.contenedor form .row .col .inputbox input {
    width: 100%;
    border: 1px solid rgb(33, 37, 41);
    padding: 7px;
    font-size: 15px;
}

.contenedor form .row .col .inputbox input:focus {
    border: 3px solid rgb(33, 37, 41);
}


.contenedor form .row .col .inputbox img {
    height: 45px;
    margin-top: 10px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    border-radius: 15px;
    background: rgb(188, 223, 248);
    color: rgb(33, 37, 41);
    margin-top: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background: rgb(146, 209, 252);
}